<!-- home page about section -->
<section class="w3l-index3" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img src="assets/images/lecturer.jpg" alt="" class="radius-image img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-md-5 mt-4 align-self">
                    <h3 class="title-big mx-0">Více než 10 let zkušeností</h3>
                    <p class="mt-md-4 mt-3">Společnost Annella s.r.o. se specializuje převážně na školení pracovníků, managementu firem i jednotlivců. Poskytujeme různé typy školení lišících se v tematickém zaměření, způsobu provedení, počtu hodin a dalších. Zaměřujeme se především na flexibilitu a snahu přizpůsobit se potřebám odběratele. Naši buildeři jsou připraveni reagovat na jakýkoli požadavek a vyvinout úsilí pro jeho úspěšné splnění. Požadavky zákazníka jsme schopni vždy zvážit a reflektovat.</p>
                        <a class="btn btn-style btn-primary mt-md-5 mt-4" href="skoleni-a-kurzy.html"> Školení a kurzy</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //home page about section -->
<!-- stats -->
<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-5 py-md-4">
        <div class="row stats-con">
            <div class="col-md-3 col-6 stats_info counter_grid">
                <p class="counter">1237</p>
                <h3>Proškolených</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid1">
                <p class="counter">16</p>
                <h3>Nabízených kurzů</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid mt-md-0 mt-4">
                <p class="counter">12</p>
                <h3>Dostupných školení</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
                <p class="counter">812</p>
                <h3>Vydaných certifikátů</h3>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
<!-- services section -->
<section id="services" class="w3l-servicesblock3 py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="welcome-left">
            <h3 class="title-big mb-md-5 mb-4 mx-auto text-center">Pracujte na svém osobnostním rozvoji</h3>
            <div class="grids-area-hny main-cont-wthree-fea row pt-4">
                <div class="col-lg-6 col-md-6 grids-feature">
                    <span class="fa fa-line-chart"></span>
                    <div class="area-box">
                        <h4><a href="#feature" class="title-head">Staňte se úspěšnými</a></h4>
                        <p class="my-3">Naše školení a kurzy posunou vaše hranice a umožní vám dosáhnout vyšších cílů.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 grids-feature mt-md-0 mt-4">
                    <span class="fa fa-street-view"></span>
                    <div class="area-box">
                        <h4><a href="#feature" class="title-head">Poznejte sami sebe</a></h4>
                        <p class="my-3">Pomáháme lidem odhalit jejich silné a slabé stránky - výchozí bod cesty k úspěchu.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 grids-feature mt-lg-5 mt-4">
                    <span class="fa fa-users"></span>
                    <div class="area-box">
                        <h4><a href="#feature" class="title-head">Porozumějte okolí</a></h4>
                        <p class="my-3">Pomůžeme vám získat potřebné dovednosti nezbytné pro porozumění vašemu okolí.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 grids-feature mt-lg-5 mt-4">
                    <span class="fa fa-university"></span>
                    <div class="area-box">
                        <h4><a href="#feature" class="title-head">Zvyšte svoji kvalifikaci</a></h4>
                        <p class="my-3">Testujeme znalosti a vydáváme hodnotné certifikáty dokazující vaše výsledky.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services section -->
{#
<section class="w3l-team py-5" id="team">
    <div class="container py-lg-5 py-md-4 py-2">
        <h3 class="title-big mb-md-5 mb-4 text-center">Met our Team</h3>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="assets/images/t1.jpg" alt="team member" class="img-fluid radius-image" />
                    </div>
                    <div class="content">
                        <h3 class="title">Peter Johns</h3>
                        <span class="post">Financial Manager</span>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="assets/images/t2.jpg" alt="team member" class="img-fluid radius-image" />
                    </div>
                    <div class="content">
                        <h3 class="title">Alexander</h3>
                        <span class="post">Supervisor</span>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="assets/images/t3.jpg" alt="team member" class="img-fluid radius-image" />
                    </div>
                    <div class="content">
                        <h3 class="title">Williams</h3>
                        <span class="post">Manager</span>
                        <ul class="social">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
#}
<!-- testimonials -->
<section class="w3l-clients-1" id="testimonials">
    <!-- /grids -->
    <div class="cusrtomer-layout py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="heading align-self text-center">
                <h6 class="title-small">Řekli o nás</h6>
                <h3 class="title-big mb-4">Co klienti nejvíce oceňují</h3>
            </div>
            <!-- /grids -->
            <div class="testimonial-row py-md-4">
                <div id="owl-demo2" class="owl-two owl-carousel owl-theme mb-md-3 mb-sm-5 mb-4">
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <q>Myslel jsem, že nikdy nedokážu být úspěšný. Byly doby, kdy jsem nedokázal prodat ani jeden produkt naši firmy a hrozil mi vyhazov. Pak jsem dvakrát absolvoval školení o prodeji po telefonu. Dnes díky tomu patřím k nejlepším prodejcům a je ze mě ředitel oddělení. Děkuji za to společnosti ANNELLA.</q>
                                </blockquote>
                                <div class="testi-des">
                                    <a href="#url" class="testi-img">
                                        <img src="assets/images/referent.jpg" alt="" class="radius-image img-fluid">
                                    </a>
                                    <div class="peopl align-self">
                                        <h3>Petr Č.</h3>
                                        <p class="identity">Manager </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <q>Léta jsem se topila v depresích a sama jsem si nevěřila, že bych mohla něco dokázat. Po několika měsících na sobě vidím výborné výsledky. Po několika školení jsem se již necítila odsunutá a nebála jsem se zeptat, snad i díky tomu dnes dělám práci, jakou jsem vždy chtěla. Děkuji za to společnosti ANNELLA.</q>
                                </blockquote>
                                <div class="testi-des">
                                    <a href="#url" class="testi-img">
                                        <img src="assets/images/referent.jpg" alt="" class="radius-image img-fluid">
                                    </a>
                                    <div class="peopl align-self">
                                        <h3>Lenka J.</h3>
                                        <p class="identity">Designérka </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <q>Jako na nového manažera si na mě kolektiv nemohl zvyknout, podřízení mě obcházeli k vyšším nadřízeným a nebrali mě vůbec vážně. Rozhodl jsem se, že to tak nenechám a zajdu si pro radu k profesionálům. Udělal jsem tak a dnes už je zcela po problémech. Děkuji za to společnosti ANNELLA.</q>
                                </blockquote>
                                <div class="testi-des">
                                    <a href="#url" class="testi-img">
                                        <img src="assets/images/referent.jpg" alt="" class="radius-image img-fluid">
                                    </a>
                                    <div class="peopl align-self">
                                        <h3>Karel P.</h3>
                                        <p class="identity">Vedoucí oddělení</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <q>Nikdy jsem nepatřil mezi lidi, co by se snadno zařadili. Vždy jsem však měl ambice a chtěl jsem se pohnout ze své stávající pozice výše. Bohuže, některé zvyky je těžké odbourat. Kurz osobnostního rozvoje mi pomohl překonat všechny moje neduhy. Děkuji společnosti ANNELLA.</q>
                                </blockquote>
                                <div class="testi-des">
                                    <a href="#url" class="testi-img">
                                        <img src="assets/images/referent.jpg" alt="" class="radius-image img-fluid">
                                    </a>
                                    <div class="peopl align-self">
                                        <h3>Josef B.</h3>
                                        <p class="identity">Vývojář</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /grids -->
    </div>
    <!-- //grids -->
</section>
<!-- //testimonials -->