<div class="w3l-contact-info py-5" id="contact">
    <div class="container py-lg-5 py-md-4">
        <div class="title text-center">
            <h3 class="title-big">Údaje o společnosti</h3>
            <p class="mt-2 mx-lg-5">Společnost ANNELLA s.r.o. s identifikačním číslem 28706951, sídlem Liberec, Voroněžská 144/20, PSČ 46001 a spisovou značkou C 27756 vedená u Krajského soudu v Ústí nad Labem.</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="align-self mt-lg-0 mt-md-5 mt-4">
                <div class="contact-infos">
                    <div class="single-contact-infos">
                        <div class="icon-box"> <span class="fa fa-map-marker"></span></div>
                        <div class="text-box">
                            <h3 class="mb-1">Adresa</h3>
                            <p>Voroněžská 144/20, 460 01 Liberec, Liberec I-Staré Město.</p>
                        </div>
                    </div>
                    <div class="single-contact-infos">
                        <div class="icon-box"> <span class="fa fa-phone"></span></div>
                        <div class="text-box">
                            <h3 class="mb-1">Telefon</h3>
                            <p><a href="#">{{ phone }}</a></p>
                        </div>
                    </div>
                    <div class="single-contact-infos">
                        <div class="icon-box"> <span class="fa fa-envelope"></span></div>
                        <div class="text-box">
                            <h3 class="mb-1">Email</h3>
                            <p> <a href="#">{{ email }}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6 map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2523.209424378513!2d15.058613051321128!3d50.77169127194597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470936a1a8883e5f%3A0x15a4bd963df68334!2zVm9yb27Em8W-c2vDoSAxNDQsIFN0YXLDqSBNxJtzdG8sIDQ2MCAwMSBMaWJlcmVjLCBDemVjaGlh!5e0!3m2!1sen!2suk!4v1607609452680!5m2!1sen!2suk"
                    frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="col-lg-6 form-inner-cont mt-lg-0 mt-sm-5 mt-4">
                <form action="#" method="get" class="signin-form" onsubmit="alert('Dočasně mimo provoz, použíjte prosím email.')">
                    <div class="form-input">
                        <input type="text" name="w3lName" id="w3lName" placeholder="Jméno">
                    </div>
                    <div class="form-input">
                        <input type="email" name="w3lSender" id="w3lSender" placeholder="Email">
                    </div>
                    <div class="form-input">
                        <textarea name="w3lMessage" id="w3lMessage" placeholder="Zpráva"></textarea>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-style btn-primary">Odeslat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>