<!-- /bottom-grids-->
<section class="w3l-bottom-grids-6 py-5" id="advantages">
    <div class="container py-lg-5 py-md-4 py-2">
        <h6 class="title-small text-center">Vydáváme hodnotné</h6>
        <h3 class="title-big mb-md-5 mb-4 text-center">Profesní certifikáty</h3>
        <div class="grids-area-hny main-cont-wthree-fea row pt-3">
            <div class="col-lg-3 ceo-text mb-lg-0 mb-4">
                <div class="">
                    <span class="fa fa-quote-left"></span>
                    <p>
                        Disponujeme týmem odborníků, kteří jsou schopni ověřit vaše profesní znalosti. Testujeme nabyté dovednosti a znalosti ze všech poskytovaných kurzů a dále jazykové znalosti vybraných světových jazyků.
                    </p>

                    <div class="author align-items-center mt-4 mb-1">
                        <div class="img-circle">
                            <img src="assets/images/certificate.jpg" class="mr-3 img-fluid" alt="Typologie DISC">
                        </div>
                        <div class="author-info">
                            <a href="#author">Certifikáty</a> <br> <span class="meta-value">za výhodné ceny </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-sign-in"></span>
                    <h4><a href="#feature" class="title-head">Otestujeme vaše znalosti</a></h4>
                    <p>Při testování používáme standardizované testy garantující kvalitu.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-search"></span>
                    <h4><a href="#feature" class="title-head">Vyhodnotíme vaše výsledky </a></h4>
                    <p>Výsledky vašeho testu odborně vyhodnotíme a stanovíme úroveň.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-sign-out"></span>
                    <h4><a href="#feature" class="title-head">Vydáme vám certifikát</a></h4>
                    <p>Na závěr dostanete certifikát garantující úroveň vašich znalostí.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids-->
<!-- section -->
<section class="w3l-statistics" id="statistical">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <h6 class="title-small text-center">Jazykové zkoušky</h6>
            <h3 class="title-big mb-md-5 mb-4 text-center">Ověření jazykových znalostí</h3>
            <div class="row">
                <div class="col-lg-4 align-self w3l-progressblock pr-lg-4">
                    <p class="mb-4">
                        Provádíme testování jazykových dovedností v Angličtině, Němčině, Španělštině a Ruštině. Při testování stanovujeme úrovně dle Evropského Referenčního Rámce jazykových znalostí. Testujeme ve všech testovatelných úrovních od A2 do C2.
                    </p>
                    <div class="progress-info info2">
                        <h6 class="progress-tittle">Úroveň C2 <span class="">&geq; 95%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info2">
                        <h6 class="progress-tittle">Úroveň C1 <span class="">&geq; 90%</span></h6>
                        </h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%"
                                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info2">
                        <h6 class="progress-tittle">Úroveň B2 <span class="">&geq; 80%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info2">
                        <h6 class="progress-tittle">Úroveň B1 <span class="">&geq; 70%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress-info info2 mb-0">
                        <h6 class="progress-tittle">Úroveň A2 <span class="">&geq; 60%</span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%"
                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5 align-self">
                    <div class="position-relative">
                        <div class="progress-circles">
                            <div class="circle1">
                                <div id="progress" data-dimension="170" data-text="EN" data-fontsize="30"
                                    data-percent="100" data-fgcolor="#5374aa" data-bgcolor="#eee" data-width="15"
                                    data-bordersize="5" data-animationstep="2"></div>
                                <h4>Angličtina</h4>
                            </div>
                            <div class="circle1">
                                <div id="progress1" data-dimension="170" data-text="DE" data-fontsize="30"
                                    data-percent="100" data-fgcolor="#5374aa" data-bgcolor="#eee" data-width="15"
                                    data-bordersize="5" data-animationstep="2"></div>
                                <h4>Němčina</h4>
                            </div>
                            <div class="circle1">
                                <div id="progress2" data-dimension="170" data-text="ES" data-fontsize="30"
                                    data-percent="100" data-fgcolor="#5374aa" data-bgcolor="#eee" data-width="15"
                                    data-bordersize="5" data-animationstep="2"></div>
                                <h4>Španělština</h4>
                            </div>
                            <div class="circle1">
                                <div id="progress3" data-dimension="170" data-text="RU" data-fontsize="30"
                                    data-percent="100" data-fgcolor="#5374aa" data-bgcolor="#eee" data-width="15"
                                    data-bordersize="5" data-animationstep="2"></div>
                                <h4>Ruština</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-md-5 mt-4">
                    <img src="assets/images/languages.jpg" alt="" class="radius-image img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- // about section -->

<!--  News section -->
<div class="w3l-news" id="news">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Harmonogram testování</h3>
            <div class="row mt-lg-5 mt-4">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#blog-single" class="d-block zoom"><img src="assets/images/bl_lang.jpg" alt=""
                                class="img-fluid news-image" /></a>
                        <div class="blog-info">
                            <h4><a href="kontakt.html">Testování jazykových znalostí</a></h4>
                            <p class="date"><span class="fa fa-calendar mr-2"></span> Každý první týden v měsíci</p>
                            <p>Jazykové testy (v jazycících AJ, DE, RU a ES) v úrovních A2 až C2 dle Evropského referenčního rámce.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#blog-single" class="d-block zoom"><img src="assets/images/bl_soft.jpg" alt=""
                                class="img-fluid news-image" /></a>
                        <div class="blog-info">
                            <h4><a href="kontakt.html">Osobnostní dovednosti</a></h4>
                            <p class="date"><span class="fa fa-calendar mr-2"></span> Každý druhý týden v měsíci</p>
                            <p>Testování vašich soft-skills provádíme druhý týden v měsíci. Vycházíme ze znalostí typologie DISC.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#blog-single" class="d-block zoom"><img src="assets/images/bl_exam.jpg" alt=""
                                class="img-fluid news-image" /></a>
                        <div class="blog-info">
                            <h4><a href="kontakt.html">Jiné profesní certifikáty</a></h4>
                            <p class="date"><span class="fa fa-calendar mr-2"></span> Zbytek měsíce</p>
                            <p>Další typy zkoušek provádíme po individuální domluvě pro početnější skupiny osob.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-style btn-primary mt-sm-5 mt-4" href="kontakt.html">Kontaktujte nás</a>
            </div>
        </div>
    </section>
</div>
<!--  //News section -->
