<!-- services page block grids -->
<section class="w3l-services py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row bottom-ab-grids">
            <div class="col-lg-6 bottom-ab-left align-self">
                <h3 class="title-big mb-4">Chcete být úspěšní? Známe správnou cestu!</h3>
                <p class="">
                    Máme více než deset let zkušeností v poskytování různých školení osobnostního rozvoje a jiných odborných kurzů. Za dobu naší historie jsme proškolili stovky klientů a obdrželi jsme pozitivní reference od významných lidí v různých oborech.
                    Též jsme na základě výsledků zkoušek vydali desítky certifikátů garantujících odbornost klientů.
                <p>
                <div class="cont-4 mt-lg-5 mt-4">
                    <div class="list mb-4">
                        <span class="fa fa-check"></span>
                        <div class="list-info">
                            <h4>Pracujte na sobě</h4>
                            <p>Cesta k úspěchu vždy vyžaduje tvrdou práci na vlastním rozvoji. Pomůžeme vám v rámci vašeho osobnostního rozvoje.</p>
                        </div>
                    </div>
                    <div class="list">
                        <span class="fa fa-check"></span>
                        <div class="list-info">
                            <h4>Kde můžete začít</h4>
                            <p>Společnost ANNELLA je tvořena týmem profesionálů s mnohaletými zkušenostmi. Poradíme vám, jak vykročit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 bottom-right-grids mt-lg-0 mt-5">
                <img src="assets/images/grow.jpg" alt="" class="radius-image img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- //services page block grids -->
<section class="w3l-content-4 py-5" id="features">
    <div class="content-4-main py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="content-info-in row">
                <div class="content-left col-lg-6">
                    <h3 class="title-small"> Naše cesta</h3>
                    <h3 class="title-big">Máme již více než deset let zkušeností v oboru.
                    </h3>
                    <p class="mt-4">
                        Poskytujeme různá školení a kurzy pro firmy a skupiny osob. Při naší práci se snažíme maximálně
                        přizpůsobit přání zákazníka. Samotné kurzy a školení poskytujeme v maximální míře interaktivně,
                        aby si každý klient odnesl maximum. Též poskytujeme možnost získat hodnotné certifikáty garantující
                        úroveň vašich odborných znalostí v řadě akreditovaných oblastí.
                    </p>
                        <a class="btn btn-style btn-primary mt-md-5 mt-4" href="o-nas.html">O společnosti</a>
                </div>
                <div class="content-right col-lg-6 pl-lg-4 mt-lg-0 mt-md-5 mt-5">
                    <div class="row content4-right-grids mb-lg-5 mb-4">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-cogs"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info">
                            <h6><a href="#url">Inovativní přístup</a></h6>
                            <p>
                                Při našich školení používáme moderní efektivní metody. Pomůžeme
                                vám překonat veškeré nesnáze.
                            </p>
                        </div>
                    </div>
                    <div class="row content4-right-grids mb-lg-5 mb-4">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-clock-o"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info">
                            <h6><a href="#url">Maximální efektivita</a></h6>
                            <p>
                                Za kvalitu našich kurzů ručí tým expertů - mnozí z našich školitelů mají více
                                než dvacet let praxe v oboru. Disponujeme kvalitními odborníky v řadě oblastí.
                            </p>
                        </div>
                    </div>
                    <div class="row content4-right-grids">
                        <div class="col-2 content4-right-icon">
                            <div class="content4-icon">
                                <span class="fa fa-money"></span>
                            </div>
                        </div>
                        <div class="col-10 content4-right-info">
                            <h6><a href="#url">Výhodná cena</a></h6>
                            <p>
                                Veškeré kurzy a školení nabízíme za výhodnou cenu, kterou si domluvíme předem dle vašeho přání.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /bottom-grids-->
<section class="w3l-bottom-grids-6 w3l-services py-5" id="services">
    <div class="container py-lg-5 py-md-4">
        <h6 class="title-small text-center">Dostupné školení a kurzy</h6>
        <h3 class="title-big mb-md-5 mb-4 text-center">Základní přehled kurzů</h3>
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-graduation-cap mt-0"></span>
                    <h4><a href="#feature" class="title-head">Typologie DISC</a></h4>
                    <p class="">
                        Typologie DISC vychází z typologie čtyř temperamentů. Umožní vám lépe porozumět sobě i vašemu okolí.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-graduation-cap mt-0"></span>
                    <h4><a href="#feature" class="title-head">Leadership</a></h4>
                    <p class="">Prozradíme vám, jak efektivně docilovat nejlepších výsledků s vašim týmem a být respektovaným.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box">
                    <span class="fa fa-graduation-cap mt-0"></span>
                    <h4><a href="#feature" class="title-head">Budování týmu</a></h4>
                    <p class="">Naučíme vás rozpoznat osobnostní typ vašich spolupracovníků, klady a zápory jejich osobnostních rysů.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-5 mt-4">
                <div class="area-box">
                    <span class="fa fa-graduation-cap mt-0"></span>
                    <h4><a href="#feature" class="title-head">Asertivita a sebevědomí</a></h4>
                    <p class="">Pokud chcete být úspěšný, musíte být zároveň rozumně sebevědomý. Prozradíme vám klíč k úspěchu.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-5 mt-4">
                <div class="area-box">
                    <span class="fa fa-graduation-cap mt-0"></span>
                    <h4><a href="#feature" class="title-head">Coaching a mentoring</a></h4>
                    <p class="">Pokud chcete být v něčem lepší než ostatní, nechte si poradit od zkušených expertů jak na to.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-5 mt-4">
                <div class="area-box">
                    <span class="fa fa-graduation-cap mt-0"></span>
                    <h4><a href="#feature" class="title-head">Motivace, cílevědomost</a></h4>
                    <p class="">Pro dosažení úspěchu je potřeba být správně namotivován. Poradíme vám, jak si udržet motivaci.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids-->
<!-- middle -->
<div class="middle py-5" id="call">
    <div class="container py-lg-3">
        <div class="welcome-left text-center py-md-5 py-3">
            <h3 class="title-big">Máte jakékoli otázky?</h3>
            <h3 class="mt-4">Zavolejte nám : <a href="#">{{ phone }}</a> </h3>
            <p class="mt-4">
                Profesionálové z našeho týmu vám rádi vysvětlí jakékoli nejasnosti. Neváhejte se na nás obrátit s jakýmkoli dotazem, námětem či poptávkou.
            </p>
            <a href="kontakt.html" class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2">Kontakt</a>
        </div>
    </div>
</div>
<!-- //middle -->
